body {
    background-color:#EBEAE6;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    font-family: "Ysabeau SC";   
}

#content {
    max-width: auto;
    margin: 0 auto;
}

header {

    text-align: left;
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #D1DDD7;
    }

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}
nav{
    color: black;
    font-family: "Bebas Neue";
    display: flex;
    justify-content: space-around;
}
    
nav a:hover {
    background-color:black;
    color: white;
}

.logo{
    margin-top: 5px; 
    border-radius: 50%;
    width: 90px;
    height:auto ;   

}

#logo_link{
    justify-self: left;
    align-self: center;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

main section {
    text-align: center;
}


main section img {
    box-sizing: border-box;
}

.home-imgs{
    padding: 100px;
    margin: 20px 0
    }

.p-1{
    font-family: "Courier New", "Courier", "monospace";
    padding-top: 50px;
    padding-bottom: 100px;
}

.p-2{
    padding-top: 50px;
    font-family: "Courier New", "Courier", "monospace"; 
}

.home-imgs h2{
    padding-top: 50px;
}
.img-1 {
    width: 100%;
    height: 600px;
    border-style: inset;
}

.img-2{
    width: 100%;
    height: 600px; 
    border-style: inset; 
    
}

h2{
    padding-left: 100px;
    padding-right: 100px;
}

main p{
    padding-left: 100px;
    padding-right: 100px;
}

div .container{
    display: grid;
}
div .space-img{
    margin: auto;
    float: left;
    padding: 100px;
    max-width: 600px;
    max-height: 300px;

}

div .shop-img{
   margin: auto; 
   float: left;
   padding: 100px;
   max-width: 600px;
   max-height: 300px;
}
.phone-img{
    padding: 150px;
    grid-column-start: 1;
    grid-row-start: 1;
    width: 150px; 
    height: 150px;
}
.email-img{
    padding-right: 150px;
    grid-column-start: 4;
    grid-row-start: 1;
    max-width: 800px;
    width: 200px; 
    height: 150px;
}

.space-text{
    padding: 100px;
    border: 1px;
    border-style: solid;
    background-color: #AABD8C;
    font-family: "Courier New", "Courier", "monospace";
    font-size: x-large;
}

.shop-text{
    padding: 100px;
    border: 1px;
    border-style: solid;
    background-color:#AABD8C;
    font-family: "Courier New", "Courier", "monospace";
    font-size: x-large;
}

.img-content{
    background-color: #EBEAE6;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 150px 150px;
    align-items: center;
    justify-content: center;
}

.phone-text{
    padding: 150px;
    grid-column-start: 1;
    grid-row-start: 2;
    font-weight: bold; 
    font-family: "Courier New", "Courier", "monospace";
    align-items: center;
}

.email-text{
    padding-right: 150px;
    grid-column-start: 4;
    grid-row-start: 2;
    font-weight: bold;
    font-family: "Courier New", "Courier", "monospace";
}
footer {
    color: black;
    font-family: "Bebas Neue";
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #D1DDD7;
    text-align: left;
    padding: 25px 50px;
    margin-top: 200px;
}

.location{
    background-color: lightgray;
    max-width: 100%;
    display: flex;
    padding-top: 100px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.location h1{
    font-family: "Courier New", "Courier", "monospace";
    padding-bottom:30px;
}

@media screen and (max-width: 800px) {
    footer {
        margin-top: 25px;
    }
}

